.container{
  height: 400px;
}
 .image {
  margin-left: 15px;
}
 .image .img{
  animation: up-and-down 6s linear infinite;
}
.text{
  width: 40%;
  padding: 25x;
}
p{
  line-height: 2;
}
.btn{
  background-color: #00b4c1;
  color: white;
}
@media (max-width:991px) {
.container .image img {
      display: none;
  }
  .container .image {
      display: none;
  }
  .container{
    height: 250px;
  }
.container .text{
      text-align: center;
      width: auto;
      margin: auto;
  }
 .container{
      justify-content: center;
  }
}
@media (max-width:767px) {
 .container .text h1{
      font-size: 29px;
  }
.container .text p{
      font-size: 16px;
  }
}