  <div class="container d-flex justify-content-center align-items-center">
    <div class="text">
      <h2 class="fw-bold fs-3">The most Recommended,
        User-friendly and Affordable
        Church Management Software</h2>
      <p class="fw-bold" >Trusted by over 5000 churches
        and dioceses around the world.</p>
      <button class="btn" routerLink="/contact" >Contact us</button>
    </div>
    <div  class="image">
      <img src="../../../assets/landing-image.png" style="width: 525px;" alt="image" class="img" >
    </div>
  </div>
<app-our-services></app-our-services>