.container{
    
}
.header{
    background-color: #0079bf;   
}
.section-1{
    background-color: #0079bf;

}
.text{
    padding-top: 30px;
    padding-bottom: 30px;
    /* width: 700px; */
    margin-left: auto;
    margin-right: auto;
}
.fs-4{
    line-height: 1.9;
}
.list{
    list-style-type:unset;
}
.list li{
    list-style-type: unset;
    line-height: 1.4;
}
.section-2{
    background-color: #deebff;
    text-align: center;
}
.paragraph{
    line-height: 1.7;
}