
<div class="header text-white text-center py-5">
    <h2 class="fs-1">About Activties</h2>
    <h5 class="fs-6">What is behind the boards.</h5>
</div>
<div class="section-1 ">
    <div class="text">
        <h2 class="fs-3">The way Our team works is unique — so is Activties.</h2>
        <p class="fs-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aut ab quidem consequatur. Fuga optio et odio. Hic, numquam! Mollitia fuga rem repellendus quo expedita maiores nulla explicabo beatae aliquam.</p>    
    </div>
</div>
<div class="container py-5">
    <h2 class="fs-3" >A Brief history of <span class="name" >Activties</span></h2>
    <ul class="list">
        <li class="fs-4 fw-normal mb-2" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate iure reprehenderit voluptate! Labore necessitatibus rerum dolores eum sequi animi ex porro blanditiis similique, praesentium numquam quasi incidunt consectetur aut impedit?</li>
        <li class="fs-4 fw-normal mb-2" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate iure reprehenderit voluptate! Labore necessitatibus rerum dolores eum sequi animi ex porro blanditiis similique, praesentium numquam quasi incidunt consectetur aut impedit?</li>
        <li class="fs-4 fw-normal mb-2" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate iure reprehenderit voluptate! Labore necessitatibus rerum dolores eum sequi animi ex porro blanditiis similique, praesentium numquam quasi incidunt consectetur aut impedit?</li>
        <li class="fs-4 fw-normal mb-2" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate iure reprehenderit voluptate! Labore necessitatibus rerum dolores eum sequi animi ex porro blanditiis similique, praesentium numquam quasi incidunt consectetur aut impedit?</li>
    </ul>
</div>
<div class="section-2 py-5 text-white">
    <h2 class="fs-1 " >Our Clients</h2>
    <p class="fs-3 paragraph">kids From Age 3 Years to 8 Years, <br> We Accept kids in this classes Baby class, Kg1, Kg2, Prim1</p>
</div>