<div class="my-5">
    <h1 class="text-center">Summer Club Dates For kids</h1>
    <mat-accordion class="timeline">
        <mat-expansion-panel *ngFor="let week of weeks">
          <mat-expansion-panel-header>
            <mat-panel-title class="fs-6">
              {{week.title}}
              <span class="timeline-date my-1">{{week.date}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            <div class="timeline-group-title-wrapper">
              <h3 class="timeline-group-title">Available Times:</h3>
              <ul class="timeline-group-list">
                <li *ngFor="let group of week.groups" class="timeline-group">
                  <h4 class="timeline-group-subtitle">{{group.title}} Group:</h4>
                  <div class="timeline-group-times">
                    <span *ngFor="let time of group.times" class="timeline-group-time">{{time}}</span>
                  </div>
                  <form class="mt-3" >
                    <mat-form-field appearance="outline" class="custom-form-field">
                        <mat-label>Enter Your code</mat-label>
                        <input matInput type="number" #CodeForm min="1">
                      </mat-form-field>
                      <input type="text" class="d-none" [value]= "group.title" #colorForm>
                      <input type="text" class="d-none" [value]= "week.title" #monthForm>
                      <button class="btn btn-success" [disabled]="CodeForm.value.trim().length === 0" type="submit" (click)="ReserveNady(CodeForm.value,colorForm.value,monthForm.value)" > Make a reservtion</button>
                  </form>
                  <p *ngIf="message" class="text-danger fw-bold" >{{message}}</p>  
                  <mat-hint class="mt-0 text-danger fw-bold" >this Reservtion Valid For This Month only</mat-hint>
                </li>
              </ul>
            </div>
          </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="container">
    <h3 class="fw-bold text-center fs-3">Offer For the Whole Summer</h3>
    <div class="contant d-flex justify-content-evenly">
        <form [formGroup]="NewResForNady" >
            <mat-form-field appearance="outline">
                <mat-label>Your Code</mat-label>
                <input matInput formControlName="CodeForm" type="number" min="1">
                <mat-error class="fs-6 fw-bold" *ngIf="NewResForNady.controls.CodeForm.invalid">{{GetErrorPasswordMsg()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Select</mat-label>
                <mat-select formControlName="ColorGroup">
                <mat-option value="red">red</mat-option>
                <mat-option value="brown">brown</mat-option>
                <mat-option value="black">black</mat-option>
                <mat-option value="Green">green</mat-option>
                <mat-option value="blue">blue</mat-option>
                </mat-select>
            </mat-form-field>
            <br>  
            <button class="btn btn-success" [disabled]="!NewResForNady.valid" (click)="ReserveHoleNady()">Make a Reservtion</button>
            <p *ngIf="message" class="text-danger fw-bold" >{{message}}</p>  
          </form>

        <div class="img-holder">
            <img src="../../../assets/depositphotos_26296093-stock-photo-3d-special-offer-word-on.jpg" alt="">
        </div>
    </div>
</div>
<div class="loading-layout" *ngIf= "loading">
    <mat-spinner  class="loading" ></mat-spinner>
</div>

