<main>
  <div class="my-5">
    <h1 class="text-center">Summer Club Events</h1>
    <mat-accordion class="timeline">
        <mat-expansion-panel *ngFor="let summerEvent of SummerEvents">
          <mat-expansion-panel-header >
            <mat-panel-title class="fs-6">
              {{summerEvent.name}}
              <!-- <span class="timeline-date my-1">{{week.date}}</span> -->
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description *ngFor="let group of summerEvent.availableColors" >
            <div class="timeline-group-title-wrapper">
              <ul class="timeline-group-list">
                <li  class="timeline-group">
                  <h4 class="timeline-group-subtitle">{{group.color}} Group:</h4>
                  <h3 class="timeline-group-title">Available Dates For This Group:</h3>
                  <div class="timeline-group-times">
                    <span *ngFor="let date of group.dateTime" class="timeline-group-time">{{date.date}} {{date.time}}</span>
                  </div>
                </li>
              </ul>
              <button class="btn btn-success d-block"
              (click)="ReserveNady(group, summerEvent.eventCode)" [disabled]="!group.avaliable"
              >Book Now</button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
</div>
</main>
<div class="loading-layout" *ngIf= "loading">
    <mat-spinner  class="loading" ></mat-spinner>
</div>

