.example-card {
    width: 320px;
    margin: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    height: fit-content;
  }
  
  .example-card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  img.main-img{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 250px;
    border-radius: 8px;
  }
  mat-card-content {
    padding-left: 8px;
    padding-top: 10px;
  }
  .example-header-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px; 
  }
  
  .main-para{
    margin-left: 0;
    padding-left: 0;
  }
  .example-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
  }
  
  .example-subtitle {
    font-size: 16px;
    color: #999999;
  }
  
  .example-content {
    padding: 16px;
  }
  mat-hint {
    display: block;
    margin-top: -15px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 500;
  }
  .btn-danger{
    display: block;
  }
  .icon{
    position: absolute;
    right: 10px;
  }
  .loading-layout{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carnival-button{
  margin-top: 35px;
}
.fs-3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.fs-3 span {
  font-weight: bold;
  color: #007bff;
}
mat-select, mat-form-field{
  cursor: pointer;
}
.color{
  margin-left: -37px;
}
mat-radio-button{
  padding-bottom: 5px;
}
.last {
  display: block;
}
.price {
  border-radius: 15px;
}
.color1{
  background-color: rgb(238, 87, 87);
}
.color2{
  background-color: rgb(180, 169, 6);
}
mat-form-field{
  width: 48%;
}
@media (max-width:767px) {
  .example-card {
    width: 450px;
  }
  img.main-img{
    width: 90%;
    height: 300px;
  }
  p{
    padding-left: 10px;
    line-height: 1.7;
  }
}


