<mat-sidenav-container>
  <mat-drawer-container class="example-container" style="height: calc(100%);">
    <mat-drawer #drawer class="sidenav" mode="over" style="height: calc(100%);">
      <p class="text-center fw-bold pt-4">Admin Dashboard</p>
      <mat-list role="list">
        <button class="ms-5 btn" mat-button [matMenuTriggerFor]="att"><i class="fa-solid fa-arrow-right pe-2"></i>Attendance</button>

        <button class="ms-5 d-block btn " (click)="drawer.toggle()"  mat-button role="listitem" [routerLink]= "['/funday']" >Funday</button>
        <button class="ms-5 d-block btn "  mat-button role="listitem"  [routerLink]= "['/Nady']">Nady</button>
      </mat-list>
    </mat-drawer>
    <mat-toolbar>
          <button type="button" class="me-2"  mat-button (click)="drawer.toggle()">
            <mat-icon class="fs-4">menu</mat-icon>
          </button>
          <app-navbar></app-navbar>
    </mat-toolbar>
    <!-- <app-our-services></app-our-services> -->
    <router-outlet></router-outlet>  
    <app-footer></app-footer>
  </mat-drawer-container>
</mat-sidenav-container>

<mat-menu class="ms-5 " #att="matMenu" yPosition="below" xPosition="after" >
  <button mat-menu-item (click)="passValue('all')" [routerLink]= "['/attendance']" >All Classes</button>
  <button mat-menu-item (click)="passValue('bc')" [routerLink]= "['/attendance']" >baby Class</button>
  <button mat-menu-item (click)="passValue('kg1')" [routerLink]= "['/attendance']"  >KG1</button>
  <button mat-menu-item (click)="passValue('kg2')" [routerLink]= "['/attendance']" >KG2</button>
  <button mat-menu-item (click)="passValue('prim1')" [routerLink]= "['/attendance']"  >Prim1</button>
</mat-menu>
