<mat-sidenav-container>
  <mat-drawer-container class="example-container" style="height: calc(100%);">
    <mat-drawer #drawer class="sidenav" mode="over" style="height: calc(100%);">
      <h2 class="my-3 px-2" > <i class="fa-solid fa-child-reaching pe-1"></i> Summer School</h2>
      <p class="text-center fw-bold pt-0">Admin Dashboard</p>
      <mat-accordion>
        <mat-expansion-panel >
      <mat-expansion-panel-header class="disable_ripple" >
            <mat-panel-title class="ps-1" >
              Manage Attendance 
            </mat-panel-title>
          </mat-expansion-panel-header  >
          <button class="Attendance-button"  (click)="passValue('all')" 
           [routerLink]= "['/attendance']" [ngClass]="{ 'selected-button': selectedValue === 'all' }">All Classes</button>
          <button class="Attendance-button" (click)="passValue('user')"
           [routerLink]= "['/attendance']" [ngClass]="{ 'selected-button': selectedValue === 'user' }">Attendance of User</button>
          <button class="Attendance-button" (click)="passValue('bc')"
           [routerLink]= "['/attendance']" [ngClass]="{ 'selected-button': selectedValue === 'bc' }" >Baby Class</button>
          <button class="Attendance-button" (click)="passValue('kg1')"
           [routerLink]= "['/attendance']" [ngClass]="{ 'selected-button': selectedValue === 'kg1' }" >KG1 Class</button>
          <button class="Attendance-button"  (click)="passValue('kg2')"
           [routerLink]= "['/attendance']" [ngClass]="{ 'selected-button': selectedValue === 'kg2' }" >KG2 Class</button>
          <button class="Attendance-button" (click)="passValue('prim1')"
           [routerLink]= "['/attendance']" [ngClass]="{ 'selected-button': selectedValue === 'prim1' }" >Prim1 Class</button>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header class="disable_ripple" >
                <mat-panel-title class="ps-1" >
                  Add Event 
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button class="Attendance-button" (click)="passValue('funday')" 
              [routerLink]= "['/fundayEvent']"[ngClass]="{ 'selected-button': selectedValue === 'funday' }">Funday</button>
              <button class="Attendance-button" (click)="passValue('summerClub')" 
              [routerLink]= "['/summerClub']" [ngClass]="{ 'selected-button': selectedValue === 'summerClub' }">Summer Club</button>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header class="disable_ripple" >
                <mat-panel-title class="ps-1" >
                  Manage Events
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button class="Attendance-button" (click)="passValue('club')" routerLink="/Nady"
               [ngClass]="{ 'selected-button': selectedValue === 'club' }">Summer Club Results</button>
              <button class="Attendance-button" (click)="passValue('Funday')" routerLink="/funday"
               [ngClass]="{ 'selected-button': selectedValue === 'Funday' }">Funday Results</button>
              <button class="Attendance-button" (click)="passValue('manage')" 
               [ngClass]="{ 'selected-button': selectedValue === 'manage' }">Update Event</button>
              <button class="Attendance-button" (click)="passValue('summerClub')" 
              [routerLink]= "['/summerClub']" [ngClass]="{ 'selected-button': selectedValue === 'summerClub' }">statics</button>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-drawer>
    <mat-toolbar>
          <button type="button" class="mx-2"  mat-button (click)="drawer.toggle()">
            <mat-icon class="fs-4">menu</mat-icon>
          </button>
          <app-navbar></app-navbar>
    </mat-toolbar>
    <router-outlet></router-outlet>  
    <app-footer></app-footer>
  </mat-drawer-container>
</mat-sidenav-container>
