<!-- <main class="pb-3">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 pt-5 text-white">
                <div class="d-flex justify-content-start align-items-center">
                    <i class="fa-solid fa-child-reaching pe-1 fs-2 "></i>
                    <h3 class="text-center fs-5">Summer School</h3>
                </div>
                <p>Summer School offers summer clubs, findays, and carnivals for kids. It provides a fun and engaging way for children to spend their summer days.</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-3 pt-5 about text-white">
                <h3 class="text-start ms-1 fs-6">About us</h3>
                <ul class="ms-2">
                    <li>Home</li>
                    <li>About us</li>
                    <li>Get in Touch</li>
                    <li>Terms &amp; Conditions</li>
                </ul>
            </div>
            <div class="col col-lg-3 pt-5 about text-white">
                <h3 class="text-start ms-1 fs-6">Events</h3>
                <ul class="ms-2">
                    <li>Summer Club</li>
                    <li>Funday</li>
                    <li>Attendance</li>
                    <li>Carnival</li>
                </ul>
            </div>
            <div class="col col-lg-3 pt-5 contact us text-white">
                <h3 class="text-start ms-1">Contact us</h3>
                <ul>
                    <li><i class="fa-solid fa-phone pe-2"></i>+2 0122 2235 3187</li>
                    <li><i class="fa-solid fa-envelope pe-2"></i>ramzymika@gmail.com</li>
                    <li><i class="fa-brands fa-github pe-2"></i>github.com/michaelHabiib</li>
                    <li><i class="fa-brands fa-linkedin pe-2"></i>linkedin.com/in/michaelhabib</li>
                </ul>
            </div>
        </div>
    </div>
</main> -->
<main class="pb-3">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 pt-2  text-white">
                <div class="d-flex justify-content-start align-items-center">
                    <i class="fa-solid fa-child-reaching pe-1 fs-2 "></i>
                    <h3 class=" fs-5">Summer School</h3>
                </div>
                <p>Summer School offers summer clubs, findays, and carnivals for kids. It provides a fun and engaging way for children to spend their summer days.</p>
            </div>
            <div class="col col-lg-3 pt-2  about text-white">
                <h3 class="text-start ms-1 fs-6">About us</h3>
                <ul class="ms-2">
                    <li> <a routerLink="/" (click)="scrollToTop()"> Home</a></li>
                    <li ><a routerLink="/about"(click)="scrollToTop()" > about us</a></li>
                    <li ><a routerLink="/" (click)="scrollToTop()"> Get in touch</a></li>
                    <li ><a routerLink="/" (click)="scrollToTop()"> Terms & Condtions</a></li>
                </ul>
            </div>
            <div class="col col-lg-3 pt-2 about text-white">
                <h3 class="text-start ms-1 fs-6">Events</h3>
                <ul class="ms-2">
                    <li routerLink="/nady" (click)="scrollToTop()">Summer Club</li>
                    <li routerLink="/services" (click)="scrollToTop()">Funday</li>
                    <li routerLink="/attendance" > Attendance Results</li>
                    <li routerLink="/funday" > Funday Results</li>
                    <li routerLink="/Nady" >Nady Results</li>
                </ul>
            </div>
            <div class="col col-lg-3 pt-2 contact us text-white">
                <h3 class="text-start ms-1">Contact us</h3>
                <ul class="links" >
                    <li><i class="fa-solid fa-phone pe-2"></i>+2 0122 2235 3187</li>
                    <li><a href="mailto:ramzymika@gmail.com"><i class="fa-solid fa-envelope pe-2"></i><span>ramzymika@gmail.com</span></a></li>
                    <li><a href="https://github.com/michaelHabiib" target="_blank" class="link-container"><i class="fa-brands fa-github pe-2"></i> <span>github.com/michaelHabiib</span></a></li>
                    <li><a href="https://linkedin.com/in/michealhabib" target="_blank"><i class="fa-brands fa-linkedin pe-2"></i><span>linkedin.com/in/michaelhabib</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</main>